@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --azulclaro: #48D6ED;
  --azuloscuro: #337AB7;
  --azulnegro: #303342;
  --negro: #333333;
  --negro2: #000;
  --gris: #B2B3B3;
  --fondo: #FFFEFC;
  --verdeazul: #157A8A;
  --Magenta: #9C2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
  --width:300px;
  --padding: 10px;
  --width-collapsed: 50px;

}

*{
    margin:0;

}


body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1,h2,h3,h4,h5{
  font-family: 'Marcellus', serif;
}

/*CABECERA*/
@media screen and (min-width: 800px){

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--negro);
    font-family: 'Marcellus', serif;
    font-size: 1.3em;
    padding: 1rem;
}

nav a{
    color: var(--blanco);
    text-decoration: none;
}

img{
    width: 100%;
}

.logoh img{
    height: 2rem;
}

.item{
    padding: 1rem;
}
 }
.botonsesion{
    background-color: var(--azuloscuro);
    padding: 0.6rem;           /*espacio alrededor texto*/
    color: #ffffff;          /*color texto*/
    text-decoration: none;     /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    border-radius: 4px;        /*bordes redondos*/
}

img{
width: 10%;
margin-left: 5%;
}

/*SLIDE*/


* {box-sizing:border-box}

/*container*/


section{
    display: flex;
}

.container{
  background-color: rgba(0,-0,0,0.3);
    padding: 2rem;
    font-size: 3rem;
    color:var(--blanco);
    position: absolute;
    width: 100%;
}

.container img{
    position: relative;
    display: inline-block;
}


.container2{
    padding-top: 10px;
    padding: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contai{
  margin: 20px 20px 20px 20px;
  font-family: 'Marcellus', serif;
  font-size: 15px;
  color:var(--negro2);
  text-decoration: none;
}

.container2 p{
    font-size: 2rem;
}

.container2 img{
    height: 15rem;
    align-items: center;
}


.text-slider{
    position: absolute;
    color: var(--blanco);
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.35);
    padding: 2.1rem;
    width: 50%;
    top: 70%;
  }
